body{
background-color: lightcoral;
text-align: center;
}

table{
border: 2px dashed black;
border-collapse: collapse;
font-size: 25px;
}

table{
margin-left: auto;
margin-bottom: 50px;
margin-right: auto;
background-color: whitesmoke;
box-shadow: 10px 10px 15px;
}

td:hover{
background-color: gold;
border: 1px solid black;
}

a{
color: black;
text-decoration: none;
}

a:hover{
color: gold;
text-decoration: underline;
}